#slide1{
  max-height: 95%;
  overflow-y:auto;
}

#slide1 #forecasticon{
  width:25%;
  max-height:12%;
  margin-top:-5%;
  margin-bottom:-5%;
}

#slide1 .icon{
  display: inline-block;
  width: 100%;
  max-width: 400px;
  max-height: 320px;
  margin-left: 33%;
  margin-top: -16%;
  margin-bottom: -5%;
}

#slide1 .weather,#slide1 .place,#slide1 .time,#slide1 .temper{
  font-family: "Open Sans";
  width:60%;
  font-weight: 400;
  margin:0;
  padding:0;
  margin-left: 2%;
}


#slide1 .weather,#slide1 .temper{
  width:60%;
  float: left;
  color: white;
}

#slide1 .humidity img,#slide1 .pressure img, #slide1 .wind img{
  width: 5%;
}

#slide1 img{
  display:inline-block;
}

#slide1 .forecast{
  font-size: 90%;
  color: white;
  font-family: "Open Sans";
  overflow:hidden;
  width:auto;
}

/*#name{
  font-family: "Open Sans",sans-serif;
  font-size: 3.7em;
  margin-bottom: -1%;
  color: white;
  font-weight:700;
}

#country{
  font-family: "Open Sans",sans-serif;
  font-size: 2.2em;
  color: white;
  font-weight: 400;
}

.time{
  width: auto;
  color: gold;
  font-family: "Open Sans",sans-serif;
}

#temperature{
  font-family:"Open Sans",sans-serif;
  color: white;
  margin-bottom: -1%;
  font-size: 260%;font-weight: 700;
}

.weather h1{
  color: white;
}

.humidity img,.wind img,.pressure img{
  width:15%;
  margin-right:3%;
}



/*Home page css*/


/*

@media screen and (max-width:600px),(orientation: portrait){
  #map{
    width:100%;
    height:75%;
    float:none;
  }

  .data{
    width:100%;
    height:25%;
  }

  .time{
    font-family: "Corbel";
    margin:0;
    height:auto;
    width:auto;
  }

  .weather{
    width:auto;
    height:auto;
    margin:0;
  }
}
*/
